
<div class="invest-holder">
    <h2 class="invest-title" >Invest in wind power</h2>

    <div class="invest-card-holder">
      
        <div class="introduction-holder">
            <span style="margin-bottom: 15px;"> What’s inside?</span>            
            <span class="introduction-span">How to Start Investing</span>
            <span class="introduction-span"> Understand What You’re Investing In</span>
            <span class="introduction-span"> Calculate Potential Returns</span>
            <span class="introduction-span"> Select an Investment Option</span>

        </div> 

        <div style="margin-top: 50px;" name="start" >
           <h1 style="border-bottom: 2px solid #e88653;">How to Start Investing in Wind Turbines</h1> 
           <span class="introduction-span-ft20"> Investing in wind turbines is an easier process than many think.There are three primary steps that you should take to begin your wind farm investments. </span>         
         <!-- <h2 style="margin-top: 30px;">Where to Start Investing: Types of Wind Energy Investments & Projects</h2> -->
           <div style="margin-top: 30px;" class="invest-card ">
           <span class="introduction-span-ft20">Distributed Wind Systems
            One type of wind energy investment to consider investing in is distributed wind systems. These systems are commonly installed on residential, commercial, industrial, and agricultural sites.

            Distributed wind systems vary in size, depending on the project site. For example, a distributed wind system located at a residential home can have a 5-kilowatt turbine. A larger-scale distributed wind system turbine can be located at an industrial site. Regardless, most distributed wind systems are no larger than 20 megawatts.

            The main purpose of distributed wind systems is to either meet a site’s load or offset large energy loads near the site. So, a smaller turbine at a house can meet load needs, while a larger turbine can offset a manufacturing facility’s load.
            </span>
       
         </div>
        </div>

        <div style="margin-top: 50px;">
            <h1 style="border-bottom: 2px solid #e88653">Understand What You’re Investing In</h1> 
            <div class="invest-card ">
            <span class="introduction-span-ft20"> The first step is to truly understand what you’re investing in. </span>         
            <span class="introduction-span-ft20"> This means more than just knowing that wind turbines are a clean source of energy.</span>   
            <span class="introduction-span-ft20">  Investing in wind farms means investing in the economy, the environment, and more. Your investment can make a major impact on the world around you.  </span>   
           </div>
         
         </div>


         <div style="margin-top: 50px;">
            <h1 style="border-bottom: 2px solid #e88653">Calculate Potential Returns</h1> 

            <span class="introduction-span-ft20"> It’s natural to want to know your estimated return on investment before you take the leap. Speak with the professionals at AVANA Capital to learn more about wind power and projects and how you can accurately calculate your return on investment for this endeavor.  </span>                     

           <div style="margin-top: 30px;" class="invest-card ">
            <span class="introduction-span-ft20"> 
            Return on investment (ROI) is the key measure of the profit derived from any investment. It is a ratio that compares the gain or loss from an investment relative to its cost. It is useful in evaluating the current or potential return on an investment, whether you are evaluating your stock portfolio's performance, considering a business investment, or deciding whether to undertake a new project.
             </span>   
            </div>
         
         </div>

         <div style="margin-top: 50px;">
            <h1 style="border-bottom: 2px solid #e88653">Select an Investment Option</h1> 
            <div class="invest-card ">
            <span class="introduction-span-ft20"> The final step is to decide where to start investing. There are a few options you can choose from when beginning your investment journey. We’ve highlighted just a few below. </span>                     
           </div>
          
         
         </div>
    </div>
  
</div>