
<div class="invest-holder">
    <h2 class="invest-title" >Invest in wind power</h2>

    <div class="invest-card-holder">
      
        <div class="introduction-holder">
            <span style="margin-bottom: 15px;"> What’s inside?</span>            
            <span class="introduction-span">How to Start Investing</span>
            <span class="introduction-span"> Understand What You’re Investing In</span>
            <span class="introduction-span"> Calculate Potential Returns</span>
            <span class="introduction-span"> Select an Investment Option</span>
            <span class="introduction-span"> Instalation</span>
        </div> 

        <div style="margin-top: 50px;" name="start" >
           <h1 style="border-bottom: 2px solid #e88653;">How to Start Investing in Wind Turbines</h1> 
           <span class="introduction-span-ft20"> Investing in wind turbines is an easier process than many think.There are three primary steps that you should take to begin your wind farm investments.
          </span>         
           
         <!-- <h2 style="margin-top: 30px;">Where to Start Investing: Types of Wind Energy Investments & Projects</h2> -->
           <div style="margin-top: 30px;" class="invest-card ">
           <span class="introduction-span-ft20">
          
            Wind turbines, better known as windmills, have been used for 1000 years. It is characteristic of them that they convert the energy of wind movement into rotational movement energy, so the immediate result of their function is a rotating shaft that can be driven by some working device. The efficiency coefficient of these machines (the quotient of the energy produced on the rotating shaft and the energy used by the wind for rotation) cannot exceed Betz's theoretical limit of 59.3% (a gasoline engine has about 35%). According to the mutual position of the axis of rotation of the rotor and the direction of the wind that drives it, wind turbines are divided into axial (the axis of the rotor is parallel to the ground) and radial (the axis of the rotor is perpendicular to the ground). 
            <br> <br>
            Our company has selected both types of turbines available to customers and they generate an average of 15,000 kilowatts per year at a wind speed of 8 m/s. The minimum wind speed to start the turbine is 2 m/s to 3 m/s which is somewhere around 7 km/h (imperceptible air flow). Those results were obtained at a height of 10 meters, which is the average height of houses in a row. What a wind generator can generate depends on the amount of wind, where it is placed and at what height it will be installed. This turbine is practically silent and does not create more than 50 decibels of noise. For comparison, a value of 50 decibels is the sound of rain or sounds in the forest. The wind turbine turns with its shape-construction in the direction of wind movement.
          </span>
       
         </div>
        </div>

        <div style="margin-top: 50px;">
            <h1 style="border-bottom: 2px solid #e88653">Understand What You’re Investing In</h1> 
            <div class="invest-card ">
            <span class="introduction-span-ft20"> The first step is to truly understand what you’re investing in. </span>         
            <span class="introduction-span-ft20"> This means more than just knowing that wind turbines are a clean source of energy.</span>   
            <span class="introduction-span-ft20">  Investing in wind farms means investing in the economy, the environment, and more. Your investment can make a major impact on the world around you.  </span>   
           </div>
         
         </div>


         <div style="margin-top: 50px;">
            <h1 style="border-bottom: 2px solid #e88653">Calculate Potential Returns</h1> 

            <span class="introduction-span-ft20"> It’s natural to want to know your estimated return on investment before you take the leap. Speak with the professionals at AVANA Capital to learn more about wind power and projects and how you can accurately calculate your return on investment for this endeavor.  </span>                     

           <div style="margin-top: 30px;" class="invest-card ">
            <span class="introduction-span-ft20"> 
            Return on investment (ROI) is the key measure of the profit derived from any investment. It is a ratio that compares the gain or loss from an investment relative to its cost. It is useful in evaluating the current or potential return on an investment, whether you are evaluating your stock portfolio's performance, considering a business investment, or deciding whether to undertake a new project.
            In addition to the wind turbine, you get an inverter, a controller and a pole. When there is no wind, charged batteries can provide electricity for another two to three days. When it is taken into account that the average household consumes about 5000 kWh per year, a rough calculation based on today's electricity prices shows that the investment in these turbines is profitable for a period of about 4 years. So, at the end of the mentioned period, you have free electricity Energy   
          </span>   
            </div>
         
         </div>

         <div style="margin-top: 50px;">
            <h1 style="border-bottom: 2px solid #e88653">Select an Investment Option</h1> 
            <div class="invest-card ">
            <span class="introduction-span-ft20"> The final step is to decide where to start investing. There are a few options you can choose from when beginning your investment journey. We’ve highlighted just a few below. </span>                     
           </div>
          
         
         </div>
         <div style="margin-top: 50px;">
          <h1 style="border-bottom: 2px solid #e88653">Instalation</h1> 
          <div class="invest-card ">
          <span class="introduction-span-ft20"> The place where the wind turbine is installed is a pillar or the roof of a house. It is also possible to combine it with solar panels, so that the generation of electricity is always in a continuous process, i.e. all the time. The inverter and controller are electronic devices that distribute electricity. They determine whether the electricity will go directly from the wind generator to the consumer or the battery, i.e. if there is no wind from the batteries to the consumers.</span>                     
         </div>
        
       
       </div>
    </div>
  
</div>