<div class="us-holder">
    <!-- <div class="nav-buttons-row">
        <button class="nav-button">
            <mat-icon>arrow_left</mat-icon>Back to dashboard
        </button>
    </div> -->
    <div class="us-box">
        <div class="us-top">
            <div class="us-profile">
                <img src="assets/profile.png" alt="">
            </div>
            <div class="us-row-label">
                <span>Marko Markovic</span>
            </div>
            <div class="us-row-label-sm">
                <span>markovicm@gmail.com</span>
            </div>
            <div class="us-row-buttons">
                <button class="us-profile-button" (click)='logout()'>Log out</button>
            </div>
        </div>
        <div class="us-bottom">
            <div class="us-row-group-label">
                <!-- <mat-icon>shield</mat-icon> -->
                <span>Security</span>
            </div>
            <div class="us-column-group">
                <div class="us-row-group-field">
                    <span>Change password</span>
                    <button class="us-list-button">Change</button>
                    <!-- <input type="text" style="width: 200px;"> -->
                </div>
            </div>

            <div class="us-row-group-label">
                <!-- <mat-icon>shield</mat-icon> -->
                <span>Profile</span>
            </div>
            <div class="us-column-group">
                <div class="us-row-group-field">
                    <span>Change profile picture</span>
                    <button class="us-list-button">Upload</button>
                    <!-- <input type="text" style="width: 200px;"> -->
                </div>

                <div class="us-row-group-field">
                    <span>Full name</span>
                    <!-- <button class="us-list-button">Upload</button> -->
                    <input type="text" placeholder="Marko Markovic" class="us-input">
                </div>
            </div>

            <div class="us-box-footer">
                <button class="us-list-button" (click)='gotoDashboard()' style="padding: 5px 10px 5px 5px;">
                    <mat-icon>arrow_left</mat-icon>Back
                </button>
                <button class="global-button" style="margin: 0; height: 28px; margin-left: 10px;">Save changes</button>
            </div>
        </div>
    </div>
</div>