<div class="us-holder">
    <!-- <div class="nav-buttons-row">
        <button class="nav-button">
            <mat-icon>arrow_left</mat-icon>Back to dashboard
        </button>
    </div> -->
    <div class="us-box">
        <div class="us-top">
            <div class="us-profile">
                <img src="assets/user.png" alt="">
            </div>
            <div class="us-row-label">
                <span>{{userService.currentUser.Name}} {{userService.currentUser.Surname}}</span>
            </div>
            <div class="us-row-label-sm">
                <span>{{userService.currentUser.UserName}}</span>
            </div>
            <div class="us-row-buttons">
                <button class="us-profile-button" (click)='logout()'>Log out</button>
            </div>
        </div>
        <div class="us-bottom">
            <div class="us-row-group-label">
                <!-- <mat-icon>shield</mat-icon> -->
                <span>Security</span>
            </div>
            <div class="us-column-group">
                <div class="us-row-group-field">
                    <span>Change password</span>
                    <button  mat-raised-button  color="warn" (click)="changePassword()" class="us-list-button">Change</button>
                    <!-- <input type="text" style="width: 200px;"> -->
                </div>
            </div>

            <div class="us-row-group-label">
                <!-- <mat-icon>shield</mat-icon> -->
                <span>Profile</span>
            </div>
            <div class="us-column-group">
                <div class="us-row-group-field" *ngIf="false">
                    <span>Change profile picture</span>
                    <button class="us-list-button">Upload</button>
                    <!-- <input type="text" style="width: 200px;"> -->
                </div>

                <div class="us-row-group-field">
                    <span>Full name</span>
                    <!-- <button class="us-list-button">Upload</button> -->
                    <input readonly value="{{currentUsername}}" type="text"  class="us-input">
                </div>
            </div>

            <div class="us-box-footer">
                <button class="us-list-button" (click)='cancel()' style="padding: 5px 10px 5px 5px;">
                    Close
                </button>
                <!-- <button class="global-button" (click)='save()' style="margin-left: 10px;">Save</button> -->
            </div>
        </div>
    </div>
</div>