<div class="addre-holder">

    <div style='display: flex; flex-direction: row; justify-content: space-between; height: 44px'>
        <mat-slide-toggle [(ngModel)]="choiceFromMap">Geolocation</mat-slide-toggle>
        <button  *ngIf="choiceFromMap" style="margin-left: 15px; height: 44px;" mat-raised-button (click)='openSelectFromMap()'><mat-icon>room</mat-icon> Choose location from map</button>
    </div>
    
    <form [formGroup]='windForm' class='addre-holder' >
        <div class="w100" style="display: flex; flex-direction: row; justify-content: space-between;">
            <mat-form-field class="example-form-field w100" style='flex: 1; margin-right: 15px;'>
                <input matInput type="text" placeholder="Latitude" formControlName="lat">
            </mat-form-field>
            
            <mat-form-field class="example-form-field w100" style='flex: 1; margin-left: 15px;'>
                <input matInput type="text" placeholder="Longitude" formControlName="lon">
            </mat-form-field>
        </div>
    
        <div style="display: flex; flex-direction: column;">
            <div class="are-form-row">
                <mat-form-field class="example-form-field w100 are-form-element" style="margin-right: 15px;">
                    <input matInput type="text" placeholder="Name" formControlName="name">
                </mat-form-field>
                <mat-form-field class="example-form-field w100 are-form-element" style="margin-right: 15px;">
                    <input matInput type="text" placeholder="Country" formControlName="country">
                </mat-form-field>
                
                <mat-form-field class="example-form-field w100 are-form-element" style="margin-left: 15px;">
                    <input matInput type="text" placeholder="City" formControlName="city">
                </mat-form-field>
            </div>
        
            <!-- <div class="are-form-row">
                <mat-form-field class="example-form-field w100 are-form-element" style="margin-right: 15px;">
                    <input matInput type="text" placeholder="Client" formControlName="client">
                </mat-form-field>
            
                <mat-form-field class="example-form-field w100 are-form-element" style="margin-left: 15px;">
                    <input matInput type="text" placeholder="Short name" formControlName="shortName">
                </mat-form-field>
            </div> -->
        
             <!-- <div class="are-form-row">
                 <mat-form-field class="example-form-field w100 are-form-element" style="margin-right: 15px;">
                    <input matInput type="text" placeholder="Description" formControlName="description">
                </mat-form-field> 

                <mat-form-field class="example-form-field w100 are-form-element" style="margin-right: 15px;">
                    <input matInput type="text" placeholder="Additional info" formControlName="additionalInfo">
                </mat-form-field>
            
                <mat-form-field class="example-form-field w100 are-form-element" style="margin-left: 15px;">
                    <input matInput type="text" placeholder="Land Size (sqm)" formControlName="land">
                </mat-form-field>
            </div> 
         -->
           
         <!-- <div class="are-form-row">
                <mat-form-field class="example-form-field w100 are-form-element" style="margin-right: 15px;">
                    <input matInput type="text" placeholder="Building size (sqm)" formControlName="buildingSize">
                </mat-form-field>
            
                <mat-form-field class="example-form-field w100 are-form-element" style="margin-left: 15px;">
                    <input matInput type="text" placeholder="Value (EUR)" formControlName="value">
                </mat-form-field>
            </div> -->

            <div class="are-form-row">
                <!-- <mat-form-field class="example-form-field w100 are-form-element" style="margin-right: 15px;">
                    <input matInput type="text" placeholder="Additional info" formControlName="additionalInfo">
                </mat-form-field> -->

                <mat-form-field class="example-form-field w100 are-form-element" style="margin-right: 15px;">
                    <textarea matInput type="text" placeholder="Description" formControlName="description" rows="5"></textarea>
                </mat-form-field>

                <!-- <mat-form-field class="example-form-field w100 are-form-element" style="margin-left: 15px;">
                    <textarea matInput type="text" placeholder="Images" formControlName="images" rows="5"></textarea>
                </mat-form-field> -->
            </div>

            <!-- <div class="are-form-row">
                <mat-form-field class="example-form-field w100 are-form-element" style="margin-right: 15px;">
                    <textarea matInput type="text" placeholder="Documents" formControlName="documents" rows="4"></textarea>
                </mat-form-field>

                <mat-form-field class="example-form-field w100 are-form-element" style="margin-left: 15px;">
                    <textarea matInput type="text" placeholder="Plans" formControlName="plans" rows="4"></textarea>
                </mat-form-field>
            </div> -->
        </div>
    <div class="footers-line">
        <button *ngIf="currentWindGenerator && currentWindGenerator.Id != 0" (click)="delete()" class='global-button' >Delete</button>
    
        <div class="footer-button">
            <button style="margin-right: 10px;"  class='global-button'(click)="addWindGenerator()"  type="submit">Save</button>
            <button  (click)="cancel()" class='global-button'>Cancel</button>
        </div>
    </div>
    </form>
    
</div>