<div [formGroup]='windForm'  class="addre-holder">

    <div class="addre-holder-row">

        <div class="addre-holder-col" style="border-right: 2px solid  rgb(202, 193, 193);width: 1000px;">
            <div style='display: flex; flex-direction: row; justify-content: space-between; height: 44px; padding: 20px 0px;'>
                <mat-slide-toggle color="warn" [ngModelOptions]="{standalone: true}" ngDefaultControl  [(ngModel)]="choiceFromMap">Geolocation</mat-slide-toggle>
                <button  *ngIf="choiceFromMap" style="margin-left: 15px; height: 44px;" mat-raised-button (click)='openSelectFromMap()'><mat-icon>room</mat-icon> Choose location from map</button>
            </div>
            
            <div class='addre-holder' >
                <div  style="display: flex; flex-direction: row; justify-content: space-between; ">
                    <mat-form-field class="example-form-field " >
                        <input matInput type="text" placeholder="Latitude" formControlName="lat">
                    </mat-form-field>
                    
                    <mat-form-field class="example-form-field " >
                        <input matInput type="text" placeholder="Longitude" formControlName="lon">
                    </mat-form-field>

                    <mat-form-field class="example-form-field  are-form-element" >
                        <input matInput type="text" placeholder="Country" formControlName="country">
                    </mat-form-field>
                    
                    <mat-form-field class="example-form-field  are-form-element">
                        <input matInput type="text" placeholder="City" formControlName="city">
                    </mat-form-field>
                </div>

                <div  style="display: flex; flex-direction: row;  ">
                    <mat-form-field class="example-form-field  are-form-element" >
                        <input matInput type="text" placeholder="Name" formControlName="name">
                    </mat-form-field>        

                    <mat-form-field class="example-form-field  are-form-element" style="margin-left: 15px;">
                        <input matInput type="text" placeholder="Description" formControlName="description" >
                    </mat-form-field>
                </div>

                <div *ngIf="!data || !data?.Id" style="display: flex; flex-direction: column;justify-content: center;">
                    <h3>Choose type:</h3>
                    <div style="display: flex; flex-direction: row;width: 750px;height: 200px; ">
                        
                        <div class="ppe-settings-grid-layout-element" *ngFor='let gridEl of allTypes; let i = index'>
                            <div  class="ppe-settings-grid-layout-element-item">
                                <label>Base Price: {{gridEl.Price}}</label>
                            </div>
                            <div class="ppe-settings-grid-layout-element-item">
                                <img style="width: 100px; height: 100px;" [src]="gridEl.Angular_FullUrl" alt='image'>
                            </div>
                            <div class="ppe-settings-grid-layout-element-item">
                                <mat-radio-button color="warn" style="display: flex; flex-direction:column;" ngDefaultControl  [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedType"  (change)="changeSelectedCustom(gridEl)">
                                    {{gridEl.Title}}</mat-radio-button>
                            </div>
                         </div>
    
                    </div>
                </div>

                <div *ngIf="currentWindGenerator && currentWindGenerator.Id != 0 && selectedType" style="display: flex; flex-direction: column;justify-content: center;">

                    <div style="display: flex; flex-direction: row;width: 300px;height: 200px; ">
                        
                        <div class="ppe-settings-grid-layout-element" >
                            <!-- <div  class="ppe-settings-grid-layout-element-item">
                                <label>Base Price: {{gridEl.Price}}</label>
                            </div> -->
                            <div class="ppe-settings-grid-layout-element-item" style="margin-top: 30px">
                                <img style="width: 100px; height: 100px;" [src]="selectedType?.Angular_FullUrl" alt='image'>
                            </div>
                            <div  class="ppe-settings-grid-layout-element-item">
                                <label> {{selectedType?.Title}}</label>
                            </div>
                           
                         </div>
    
                    </div>
                </div>
               
            
                      
            </div>
        </div>
     
       
            <div class="are-col2" *ngIf="!data || !data?.Id" >
                <div style="display: flex;flex-direction:column;">
                    <div style="font-size: 25px; border-bottom: 2px solid #e88653;margin-bottom: 20px;">
                        <span >
                            Your decision
                        </span>
                    </div>
                    
                    <span style="font-size: 20px;">
                         Is a wind generator a good investment?
                    </span>
                </div>
               
                <div style="display: flex;justify-content: center;">
                    <button (click)="checkProfit()" style="width: 250px;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    margin-top: 20px;" class='global-button'>
                        CHECK PROFIT
                    </button>
                </div>

                <div  *ngIf="checkProfitStatus"  class="block-show">
                    <h1>Profitably: 51%</h1>
                    <h2>Base price: 1600e</h2>
                    <h3>Construction Costs: 500e</h3>
                    <h1>Full price: 2100e</h1>
                </div>
               
      
        </div>
       
      
    </div>

    
        <div class="footers-line">
            <button *ngIf="currentWindGenerator && currentWindGenerator.Id != 0 && currentWindGenerator.ParentUserId == userService.currentUser.Id" (click)="delete()" class='global-button' >Delete</button>
        
            <div class="footer-button">
                    
            </div>
            <div class="footer-button">
                <button  (click)="cancel()" class='us-list-button'>Cancel</button>
                <button [disabled]="!selectedType" style="margin-left: 20px;"  class='global-button' (click)="addWindGenerator()"  type="submit">Save</button>
            </div>
        </div>
  

  
    
</div>