

    <div class="lp-main-content" >
        <div style="align-items: center;" class="lp-main-content-title">
         
            <span>Users</span>
            <button style="margin-left: 10px;margin-left: 10px;
            height: unset;
            width: unset;
            justify-content: center;
            align-items: center;
            margin-bottom: unset;" (click)="openUserConfigurationDialog(null)" class='global-button'>
                Add new user
            </button>
        </div>
        <div class="lp-users-list"  style="width: 100%;">
            <div style="margin-top: 40px;width: 100%;" >
                <div class="user-table-holder" style="width: 100%;">
                    <app-data-table [dataSource]="dataSource" [columnDefs]="columns" [dtoPaging]="dtoPaging"
                    [globalSettings]="globalSettingsObject" (filterChangeEvent)="updateFilters($event)"
                    (sortChangeEvent)="updateSorting($event)" (pagingChangeEvent)="updatePaging($event)"
                    (allFiltersChangeEvent)="updateAllFilters($event)">
                    <!-- <ng-container *columnCell="'actions'; let e" class="ts-incident-ng-content">
                        <button stopClickPropagation 
                            title="Edit" (click)="openUserConfigurationDialog(e)" mat-raised-button
                            class="ts-incident-icon-button">
                            <mat-icon class="ts-incident-settings-icons">edit</mat-icon>
                        </button>
                        <button stopClickPropagation
                            title="Delete" (click)="removeUser(e)" mat-raised-button
                            class="ts-incident-icon-button">
                            <mat-icon class="ts-incident-settings-icons">delete</mat-icon>
                        </button>
                    </ng-container> -->
                </app-data-table>
                </div>
            </div>

        </div>
    </div>

