<div class="login-holder">
    <div class="login-contr">
        <div class="login-box">
            <div class="login-image">
                <img src="assets/windLogo.png" alt="">
            </div>
            <div class="login-form-holder">
                <div class="login-form">
                    <div class="login-form-top">
                        <div class="login-label">
                            <p>Log In</p>
                        </div>
                        <div class="login-input">
                            <input class="user" type="text" placeholder="E-mail">
                            <input class="pw" type="text" placeholder="Password">
                        </div>
                    </div>

                    <div class="login-buttons">
                        <button (click)='onLogin()'>Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>