<div class="login-holder">
    <div class="login-contr">
        <div class="login-box">
            <div class="login-image">
                <img src="assets/windLogo.png" alt="">
                <p class="login-label">Wind Turbines & Services</p>
                <p class="login-label">Highly profitable</p>
            </div>
            <div class="login-form-holder"  [formGroup]='loginForm'>
                <div class="login-form">
                    <div class="login-form-top">
                        <div class="login-label">
                            <p>Log In</p>
                        </div>
                        <div class="login-input">
                            <mat-form-field class="example-full-width">
                                <mat-label>Username (email)</mat-label>
                                <input matInput type="text" placeholder="Usernmae" formControlName="username">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" placeholder="Password" formControlName="password">
                            </mat-form-field>
                          
                        </div>
                    </div>

                    <div class="login-buttons">
                        <button [disabled]="!loginForm.valid" (click)='onLogin()'>Login</button>
                        <p  style="margin-top:10px">Don't have account? <a style="color:blue;border-bottom: 1px solid blue; cursor: pointer" (click)='onRegister()'>Register</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>