<div *ngIf="false" style="display: flex; flex-direction: column;width: 100%; height: 100%">
    <img [src]="path1" alt='image'>
    <img [src]="path2" alt='image'>
</div>

<mat-drawer-container class="example-container" autosize>
    <div class="lp-main-content">
        <div style="align-items: center;" class="lp-main-content-title">
         
            <span>Wind turbines</span>
            <button *ngIf="userService?.currentUser?.AssignRoleId == 1" style="margin-left: 10px;margin-left: 10px;
         
            width: unset;
            justify-content: center;
            align-items: center;
            margin-bottom: unset;width: 100px;" (click)="addNew(null)" class='global-button'>
                Add new
            </button>
        </div>
        <div class="lp-landing-list">
            <div class="lp-landing-list-item" *ngFor="let type of listOfDeviceType">
                <div  class="inv-row"  style="justify-content: space-between !important;    align-items: center;">
                    <div>
                        <img style="max-width: 300px; max-height: 100px;border-radius: 10px;       
                        box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 25%);" id="image-preview"
                            [src]="type && type?.Angular_FullUrl || '' ">
                    </div>
                    <div>
                        <span style="font-size: 20px;">{{type.Name}}</span>
                    </div>
                    <div>
                        <button *ngIf="userService?.currentUser?.AssignRoleId == 1" style="width: 100px;" (click)="edit(type)" class='global-button'>
                            Edit
                        </button>
                        <button *ngIf="userService?.currentUser?.AssignRoleId == 1" style="width: 100px;"   (click)="delete(type)" class='global-button'>
                            Delete</button>
                    </div>
                               
                </div>
               
                <div style="margin-top: 15px;" class="lp-landing-list-item-title">                 
                    <div class="inv-row">
                        <span>Turbines:</span>
                        <span>
                         {{type.Turbines}}</span>
                    </div>   
                    <div class="inv-row">
                        <span>Height Of Wing:</span>
                        <span>
                         {{type.HeightOfWing}}</span>
                    </div>   
                    <div class="inv-row">
                        <span>Width Of Wing:</span>
                        <span>
                         {{type.WidthOfWing}}</span>
                    </div>             
                    <div class="inv-row">
                        <span style="font-size: 23px;">MAX Power(W):</span>
                        <span class="inv-border"> {{type.PowerOfTurbines}}</span>
                    </div>
                    <div class="inv-row">
                        <span>Weight:</span>
                        <span>
                         {{type.Weight}}</span>
                    </div>  
                    <div class="inv-row">
                        <span style="font-size: 23px;">Base Price: ($)</span>
                        <span class="inv-border"> {{type.BasePrice}}</span>
                    </div>
                    <div class="inv-row">
                        <span style="font-size: 23px;">InstallationCosts:</span>
                        <span class="inv-border"> {{type.InstallationCosts}}</span>
                    </div>
                    <!-- <div class="inv-row">
                        <span>Wind hours per a day:</span>
                        <span style="border-bottom: 2px solid #e6543c;"> {{type.GeneratorPower}} </span>
                    </div> -->
                    <div class="inv-row">
                        <span  style="font-size: 25px;">Guarantee: </span>
                        <span>{{type.Guarantee}} </span>
                    </div>
                </div>
            </div>



        </div>
    </div>

</mat-drawer-container>