<div class="registration-box ">
    <div class="registration-contr">
       <form [formGroup]='registerForm' >
        <div class="registration-input">
            <mat-form-field class="example-full-width">
                <mat-label>E-Mail</mat-label>
                <input matInput placeholder="E-mail" formControlName="email">
                <mat-error *ngIf="registerForm.controls['email'].errors?.pattern">
                    Please enter a valid email address
            </mat-error>
            </mat-form-field>
            <mat-form-field  *ngIf="isAdminUser" class="example-full-width">
                <mat-label>Password</mat-label>
                <div style="display: flex;">
                <input [type]="passwordFieldType ? 'text' : 'password'" matInput type="password" placeholder="Password" formControlName="password">
                    <button mat-raised-button (click)='togglePasswordFieldType()'>
                        <mat-icon *ngIf='!passwordFieldType' title="Show password">
                            visibility
                        </mat-icon>
                        <mat-icon *ngIf='passwordFieldType' title="Hide password">
                            visibility_off
                        </mat-icon>
                    </button>
                </div>
            </mat-form-field>
            <mat-form-field style="margin-top: 30px;" class="example-full-width">
                <mat-label>First name</mat-label>
                <input matInput placeholder="First name" formControlName="firstName">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="Last name" formControlName="lastName">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Phone" formControlName="phone">
            </mat-form-field>
        
            <!-- <input formControlName="email" class="user" type="text" placeholder="E-mail">
            <input formControlName="password" class="pw" type="password" placeholder="Password">
            <input formControlName="firstName" style="margin-top: 30px;" class="pw" type="text" placeholder="First Name">
            <input formControlName="lastName" class="pw" type="text" placeholder="Last Name">
            <input formControlName="phone" class="pw" type="text" placeholder="Phone"> -->
        </div>


        <div  style=" display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;margin-top: 30px;">
            <button  color="warn"  *ngIf="!isAdminUser" class="global-button" mat-raised-button [disabled]="registerStatus || registerForm.invalid" (click)='onRegistration()'>Register</button>
            <button  color="warn"  *ngIf="isAdminUser" mat-raised-button [disabled]="registerStatus || registerForm.invalid" (click)='onRegistration()'>Add new administrator</button>
        </div>
    </form> 
    </div>
</div>