<div style="position: absolute; bottom: 10px; left: 5px; display: flex; flex-direction: row; z-index: 999999;">
    <div class="info-box" *ngIf="!PersonalStatus">
        <span>Right-click on map to select location</span>
    </div>
</div>



<div *ngIf="!PersonalStatus" style="position: absolute; top: 10px; right: 5px; display: flex; flex-direction: row; z-index: 999999;">
    <input type="text" [(ngModel)]='mapSearchTerm' class='map-search-input' id='inputMapSelectionSearchTerm' (keyup.enter)="searchMap()">
    <button (click)='searchMap()' class="map-search-button" id='searchMapSelectionButton'>
        <mat-icon>search</mat-icon>
    </button>
</div>

<div id="mapForSelection"></div>