
<div class="statistic-holder">
   
    <h1  style="margin-top: 10px;">Global Chart Investments</h1>
    <h3> View all current power of investments in system</h3>
  
    <div  >
        <google-chart #chart [options]="options" [type]="selectedType" [data]="historyItems" [columns]="displayedColumnsItemChart" [width]="widthChart" [height]="heightChart">
      </google-chart>
        <!-- <app-chart-items style="width: 100%;margin-top: 20px;" 
        [selectedItems]="historyItems" [type]="selectedType" [displayedColumnsItem]="displayedColumnsItemChart"></app-chart-items> -->
    </div>
    <div *ngIf="false" style="margin-top: 40px; display: flex; flex-direction: row;">
        <div class="statistic-chart-holder">
           
            <google-chart #chart  
            [title]="title"  
            [type]="type"  
            [data]="data"  
            [columnNames]="columnNames"  
            [options]="options"  
            [width]="width"  
            [height]="height">  
         </google-chart> 
        </div>
        <div class="statistic-chart-holder">
            <google-chart #chart  
            [title]="title"  
            [type]="type2"  
            [data]="data"  
            [columnNames]="columnNames"  
            [options]="options"  
            [width]="width"  
            [height]="height">  
         </google-chart> 
           
        </div>
        <div class="statistic-chart-holder">
            <google-chart #chart  
            [title]="title"  
            [type]="type3"  
            [data]="data"  
            [columnNames]="columnNames"  
            [options]="options"  
            [width]="width"  
            [height]="height">  
         </google-chart> 
           
        </div>
    </div>

    <h1 style="margin-top: 10px;">Report Investments</h1>
    <h3> View all investments in system</h3>
    <div  >
        <div class="statistic-table-holder">
            <app-data-table [dataSource]="dataSource1" [columnDefs]="columns1" [dtoPaging]="dtoPaging1"
            [globalSettings]="globalSettingsObject" (filterChangeEvent)="updateFilters1($event)"
            (sortChangeEvent)="updateSorting1($event)" (pagingChangeEvent)="updatePaging1($event)"
            (allFiltersChangeEvent)="updateAllFilters1($event)">
            
        </app-data-table>
        </div>
    </div>

    <div *ngIf="false" style="margin-top: 40px;">
        <div class="statistic-table-holder">
            <app-data-table [dataSource]="dataSource2" [columnDefs]="columns2" [dtoPaging]="dtoPaging"
            [globalSettings]="globalSettingsObject" (filterChangeEvent)="updateFilters($event)"
            (sortChangeEvent)="updateSorting($event)" (pagingChangeEvent)="updatePaging($event)"
            (allFiltersChangeEvent)="updateAllFilters($event)">
            
        </app-data-table>
        </div>
    </div>

    <h1 style="margin-top: 10px;"> Report 2022</h1>
    <h3> View all history data for 2022</h3>
        <div >
            <div class="statistic-table-holder">
                <app-data-table [dataSource]="dataSource" [columnDefs]="columns" [dtoPaging]="dtoPaging"
                [globalSettings]="globalSettingsObject" (filterChangeEvent)="updateFilters($event)"
                (sortChangeEvent)="updateSorting($event)" (pagingChangeEvent)="updatePaging($event)"
                (allFiltersChangeEvent)="updateAllFilters($event)">
                
            </app-data-table>
            </div>
        </div>
    
 
</div>